{% autoescape off %}
Hello {{ user.employee.name }},

You're receiving this email because you requested a password reset for your account at Clinici Pharmacy System.

Please go to the following page and choose a new password:

http://{{ domain }}{% url 'confirm_password_change' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}

If you didn't request this password reset, please ignore this email.

Thanks for using our system!

The Clinici Team
{% endautoescape %}